/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

html {
    font-size: 8pt;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1.logo {
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content {
    width: 96%;
    border: 10px;
    padding-bottom: 10rem;
}

.h-section .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
}

.h-section .about img.dp {
    width: 8rem;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.h-section .about>div>p {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* Style tab links */
.tab-header {
    display: flex;
    flex-direction: row;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tablink {
    background-color: transparent;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
    flex-grow: 1;
    border-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tablink.bg-grey-imp:hover {
    background-color: #ddd;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    /* color: white; */
    display: none;
    padding: .5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tabcontent .tabcontent-look {
    padding: 0.2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tablink.bg-trans {
    background-color: transparent;
    color: black;
}

.h-section .work,
.h-section .projects,
.h-section .skills,
.h-section .contact-links,
.h-section .interests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.h-section .work,
.h-section .projects
{
    justify-content: space-between;
}


.h-section {
    padding-bottom: 3rem;
}

.h-section .work > div,
.h-section .projects > div {
    padding: 3rem 2rem 1rem 2rem;
    text-align: center;
    margin: 1rem;
    background-color: white;
    font-weight: bold;    
    position: relative;
}

.h-section .projects > div p{
    text-align: left;
}

.badge {
    border-radius: 50px;
    padding: 0.4rem 0.8rem;
    margin: 0.4rem;
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.badge.badge-right {
    right: 1rem;
    left: auto;
}

.h-section .skills > div,
.h-section > h1,
.h-section .contact-links > a,
.h-section .contact > h3,
.h-section .interests-header > h3,
.h-section .interests > div{
    padding: 1rem 2rem;
    text-align: center;
    margin: 1rem;
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
}

.h-section .skills > div {
    font-size: 1rem;
}

.h-section .contact  {
    border-radius: 50px;
}

.rounded {
    border-radius: 10px;
}

.bg-grey {
    background-color: #eee;
}

.bg-white {
    background-color: white;
}

.bg-red {
    background-color: #f44336;
}

.bg-green {
    background-color: #4CAF50;
}

.bg-blue {
    background-color: #03A9F4;
}

.bg-orange {
    background-color: #ff5722;
}

.txt-red {
    color: #f44336;
}

.txt-green {
    color: #4CAF50;
}

.txt-blue {
    color: #03A9F4;
}

.txt-orange {
    color: #ff5722;
}

.txt-white {
    color: white;
}


@media only screen and (min-width: 768px) {

    html {
        font-size: 12pt;
    }
    .content {
        width: 80%;
    }

    .tabcontent .tabcontent-look {
        padding: 3rem;
    }

    .h-section .about {
        padding: 2rem;
        margin: 1rem;
        flex-direction: row;
        justify-content: center;

    }

    .h-section .about img.dp {
        margin-bottom: 0;
    }

    .h-section .about>div>p {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .h-section .work > div,
    .h-section .projects > div {
        width: 40%;
    }
}